
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h3>USER MNG</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/home/dashboard']"  >หน้าหลัก <span class="sr-only">(current)</span></a>
        </li>
     
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/comj/search']" >จัดการผู้ใช้งาน</a>
        </li>
       
      </ul>
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right"  [ngStyle]="{'display':this.nameProfile ? 'inline' :'none'}">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <button class="dropdown-item" href="#">ออกจากระบบ</button>
          </div>
        </li>
      </ul>
    </div>
</nav>